<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-yXU8I3SPv9MjthN5RhJuegLyBuAd2f8</string>
	<key>GCM_SENDER_ID</key>
	<string>128003168097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cenomi.oca.dev</string>
	<key>PROJECT_ID</key>
	<string>cenomi-one-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>cenomi-one-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:128003168097:ios:10d5245cd4e93161bfd720</string>
	<key>DATABASE_URL</key>
	<string>https://cenomi-one-staging-default-rtdb.firebaseio.com</string>
</dict>
</plist>
