<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>13927393560-t604p5k4a95lfncpko5bmup71s2skp89.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ9_1F2NMkHp2BxEUo64wxImTrEQZNR_I</string>
	<key>GCM_SENDER_ID</key>
	<string>13927393560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cenomione.oca</string>
	<key>PROJECT_ID</key>
	<string>cenomi-central</string>
	<key>STORAGE_BUCKET</key>
	<string>cenomi-central.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13927393560:ios:aac7a4f66d103045c7566d</string>
	<key>DATABASE_URL</key>
	<string>https://cenomi-central-default-rtdb.firebaseio.com</string>
</dict>
</plist>